.schedule-card {
  border: 2px solid #39ff14;
  padding: 16px;
  color: #39ff14;
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
}

.card-header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.card-divider {
  height: 2px;
  background: #39ff14;

  margin: 12px -14px;
}

.card-title {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 600;
}

.card-description {
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.4;

}

.card-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.btn {
  height: 55px;
  padding: 0 26px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.btn.primary {
  background: #65E52A;
  color: #000;
}

.btn.outline {
  background: transparent;
  border: 2px solid #65E52A;
  color: #65E52A;
}

.btn.success {
  background: transparent;
  border: 2px solid #65E52A;
  color: #65E52A;
}

.btn.disabled {
  cursor: not-allowed;
  background: transparent;
  border: 2px solid #494949;
  color: #494949;
}

.arrow-btn {
  width: 56px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: 2px solid #65E52A;
  border-radius: 8px;

  padding: 0;
}

.arrow-btn img {
  width: 31px;
  height: 31px;
}
