.achievements-screen {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

.achievements-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}

.ufo-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  display: flex;
}

.ufo-wrapper img {
  width: 100%;
  max-width: 260px;
}

.exp-bar {
  width: 100%;
  height: 15px;
  border: 2px solid #39ff14;
  border-radius: 6px;
  box-sizing: border-box;
  overflow: hidden;
}

.exp-bar-fill {
  height: 100%;
  background: #39ff14;
}

.exp-info {
  display: flex;
  justify-content: space-between;
  margin-top: -12px;
  font-size: 15px;
  font-family: "JetBrains Mono", monospace;
  color: #39ff14;
  text-transform: uppercase;
}

.screen-title-achievements {
  font-size: 38px;
  font-weight: 800;
  line-height: 1;
  color: #39ff14;
  font-family: "TEST Vast", monospace;
  text-transform: uppercase;
}

.achievements-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* BACK BUTTON */
.btn.back.fixed {
  position: sticky;
  bottom: 20px;

  margin-left: auto;

  width: 65px;
  height: 65px;

  background: #000000;
  border: 2px solid #65E52A;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.btn.back.fixed img {
  width: 33px;
  height: 33px;
}
