.main-screen {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* HEADER */
.main-header {
  width: 100%;
}

.main-content {
  padding: 20px;
  box-sizing: border-box;
}

.header-icons {
  display: flex;
  gap: 10px;
    padding-left: 20px;
    padding-top: 10px;
  align-items: center;
}

.header-icons img {
  width: 20px;
  height: 20px;
}

.header-line {
  margin-top: 10px;
  height: 1px;
  background: #65E52A;
}


.section-path {
  font-family: "JetBrains Mono", monospace;
  font-size: 20px;
  color: #65E52A;

}

/*КАРТИНКА*/
.ufo-wrapper {
  margin-top: 30px;

  display: flex;
  justify-content: center;
}

.ufo-wrapper img {
  max-width: 80%;
  height: auto;
}


/*ЗАГОЛОВОК*/
.main-title-wrapper {
  margin-top: 30px;
  width: 100%;
}

.main-title {
  font-family: "TEST Vast", monospace;
  font-weight: 900;
  line-height: 1;
  white-space: nowrap;
  color: #65E52A;
  /* стартовое значение, дальше управляет JS */
  font-size: 62px;
}


/*КНОПКИ*/
.main-actions {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Общая кнопка */
.action-btn {
  height: 88px;
  width: 100%;

  border: 2px solid #65E52A;
  border-radius: 5px;
  background: transparent;

  color: #65E52A;
  font-family: "JetBrains Mono", monospace;
  font-size: 20px;

  cursor: pointer;
  box-sizing: border-box;

}

.action-btn:active {
  background: #65E52A;
  transform: scale(0.98);

  color: black;
}


/* Расписание встреч */
.action-btn--wide {
  display: flex;
  align-items: center;
  gap: 12px;

  padding-left: 20px;
  padding-right: 20px;

  text-align: left;
}

.action-btn--wide img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.action-btn--wide span {
  line-height: 1.1;
}

/* Нижние кнопки */
.actions-row {
  display: flex;
  gap: 16px;
}

.action-btn--vertical {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*gap: 8px;*/
  padding: 0 8px;
  text-align: center;
}

.action-btn--vertical img {
  width: 40px;
  height: 40px;
}
