.profile-screen {
  width: 100%;
  height: 100%;
}

.profile-content {
  padding: 20px;
  box-sizing: border-box;
  color: #65e52a;
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
}

/* ---------- PATH ---------- */

.section-path {
  font-size: 20px;
}

/* ---------- TITLE ---------- */

.screen-title-profile {
  font-family: "TEST Vast", monospace;
  font-size: 48px;
  line-height: 1;
  margin-bottom: 16px;
  margin-top: 16px;
}

/* ---------- MAIN CARD ---------- */

.profile-main-card {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.avatar-placeholder {
  width: 118px;
  height: 118px;
  border: 2px solid #65e52a;
  border-radius: 10px;
}

.profile-main-info {
  display: flex;
  flex-direction: column;
  height: 122px; /* ровно как аватар */
}

.profile-name {
  font-size: 20px;
}

.profile-id {
  font-size: 14px;
}

.profile-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.profile-role {
  font-size: 16px;
}

.profile-level {
  font-size: 14px;
}

/* ---------- FORM ---------- */

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 32px;
}

.profile-form label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
}

.profile-form input {
  background: transparent;
  border: 2px solid #65e52a;
  border-radius: 5px;
  padding: 12px;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  color: #65e52a;
  outline: none;
  box-sizing: border-box;
}

.profile-form input::placeholder {
  color: rgba(57, 255, 20, 0.5);
}

/* ---------- ACTIONS ---------- */

.profile-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.profile-actions .btn.save {
  flex: 1;
  height: 65px;
  background: #65e52a;
  color: #000;
  border: none;
  border-radius: 5px;
  font-family: "JetBrains Mono", monospace;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
}

.profile-actions .btn.back {
  width: 65px;
  height: 65px;
  border: 2px solid #65e52a;
  background: transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profile-actions .btn.back img {
  width: 33px;
  height: 33px;
}

/* ---------- Password ---------- */
.password-field {
  position: relative;
  width: 100%;
}

.password-field input {
  width: 100%;
  padding-right: 44px; /* место под глаз */
}

.eye-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.eye-btn img {
  width: 20px;
  height: 20px;
  opacity: 0.3;
}

.eye-btn.active img {
  opacity: 1;
}

.btn.save:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.field-error {
  font-size: 12px;
  color: #ff6bc4;
}