.header {
  position: relative;

  height: 48px;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 2px solid #65E52A;
}

.header-left,
.header-right {
  display: flex;
  gap: 8px;
}

.header img {
  width: 20px;
  height: 20px;
}

.header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  font-family: "JetBrains Mono", monospace;
  font-size: 20px;
  color: #65E52A;
}

.header-back {
  position: absolute;
  right: 20px;
  bottom: -40px;

  background: transparent;
  border: none;

  font-size: 20px;
  color: #65E52A;

  cursor: pointer;
}